.title-form h1 {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 15px;
    position: relative;
    text-align: left;
    color: #4c4e4e;
    font-family: 'open_sansbold';
    margin-left: 10px;
    margin-bottom: 35px;
  }
  .title-form h1:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 3px;
    height: 5px;
    width: 55px;
    background-color: #4c4e4e;
  }
  .title-form h1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 98%;
    background-color: #4c4e4e;
  }
  .box-formulario {
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      background-color: #ffdd58;
      padding:60px 0;
  }
  .formulario {
      width: 700px;
      background: #ffdd58;
      padding: 60px 5%;
      text-align: center;
  }
  .formulario span {
    position: relative;
    display: flex;
    margin: 15px 10px;
  }
  /*input Animado*/
  .input-slide {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 10px 0 10px 75px;
    font-family: "Open Sans", sans;
    font-size: 23px;
    font-weight: 400;
    color: #d2d2d2;
    background: #ffffff;
    border: 0;
    border-radius: 3px;
    outline: 0;
    transition: all .3s ease-in-out;
  }
  .input-slide::-webkit-input-placeholder {
    color: #4c4e4e;
    font-weight: 300;
  }
  .input-slide + label {
    display: inline-block;
    position: absolute;
    transform: translateX(0);
    top: 0;
    left: 0;
    bottom: 0;
    padding: 7px 12px;
    font-size: 33px;
    font-weight: 700;
    text-transform: uppercase;
    border-right: 1px #ffdd58 solid;
    background: transparent;
    color: #d2d2d2;
    text-align: left;
    transition: all .3s ease-in-out, color .3s ease-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow: hidden;
  }
  .input-slide + label:after {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    width: 100%;
    background: #4c4e4e;
    z-index: -1;
    transform: translate(0);
    transition: all .3s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .input-slide:focus,
  .input-slidev:active {
    
    color: #4c4e4e;
    background: #fff;
    padding: 10px 0 10px 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .input-slide:focus::-webkit-input-placeholder,
  .input-slide:active::-webkit-input-placeholder {
    color: #aaa;
  }
  .input-slide:focus + label,
  .input-slide:active + label {
    color: #fff;
    transform: translateX(-100%);
  }
  .input-slide:focus + label:after,
  .input-slide:active + label:after {
    
    background: #4c4e4e;
    transform: translate(100%);
  }
  /*TextArea*/
  .textarea-slide {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 10px 0 10px 75px;
    font-family: "Open Sans", sans;
    font-size: 23px;
    font-weight: 400;
    color: #d2d2d2;
    background: #ffffff;
    border: 0;
    resize: none;
    border-radius: 3px;
    outline: 0;
    transition: all .3s ease-in-out;
  }
  .textarea-slide::-webkit-input-placeholder {
    color: #4c4e4e;
    font-weight: 300;
  }
  .textarea-slide + label {
    display: inline-block;
    position: absolute;
    transform: translateX(0);
    top: 0;
    left: 0;
    bottom: 0;
    padding: 7px 12px;
    font-size: 33px;
    font-weight: 700;
    text-transform: uppercase;
    border-right: 1px #ffdd58 solid;
    background: transparent;
    color: #d2d2d2;
    text-align: left;
    transition: all .3s ease-in-out, color .3s ease-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow: hidden;
  }
  .textarea-slide + label:after {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    width: 100%;
    background: #4c4e4e;
    z-index: -1;
    transform: translate(0);
    transition: all .3s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .textarea-slide:focus,
  .textarea-slide:active {
    
    color: #4c4e4e;
    background: #fff;
    padding: 10px 0 10px 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .textarea-slide:focus::-webkit-input-placeholder,
  .textarea-slide:active::-webkit-input-placeholder {
    color: #aaa;
  }
  .textarea-slide:focus + label,
  .textarea-slide:active + label {
    color: #fff;
    transform: translateX(-100%);
  }
  .textarea-slide:focus + label:after,
  .textarea-slide:active + label:after {
    
    background: #4c4e4e;
    transform: translate(100%);
  }
  /*Botão*/
  .box-btn { 
   width: 100%;
   padding: 0 10px;
   float: left;
  }
  .btn-envia {
    
    padding: 1em 2em;
    cursor: pointer;
    border: none;
    background-color: #4c4e4e;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    color: #fff;
    border-radius: 3px;
    width: 100%;
  }
  .zoom-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .zoom-shadow:hover, .zoom-shadow:focus, .zoom-shadow:active {
    
    box-shadow: 0 13px 8px -8px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  .btn {
    padding: 6px;
    margin: 4px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.btn-editar {
    color: #4CAF50; /* Verde */
}
.btn-excluir {
    color: #f44336; /* Vermelho */
}
.fa-pencil-alt, .fa-trash-alt {
    font-size: 16px;
}

.modal {
  display: none; /* Oculto por padrão */
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}
.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



form {
  display: flex;
  flex-direction: column;
}
form label {
  margin: 10px 0 5px;
  font-weight: bold;
}
form input, form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}
form input:focus, form textarea:focus {
  border-color: #4CAF50;
  outline: none;
}
form button {
  padding: 10px 20px;
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
form button:hover {
  background-color: #45a049;
}

/* Animation for Modal */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}